/* Global positional adjustments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
  --bg: rgb(248, 248, 248);
  --lightBg: #ffce74;
  --textNormal: #181818;
  --textTitle: #181818;
  --textLink: #fd5e53;
  --hr: hsla(0, 20%, 1%, 0.2);

  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #1e1e1e;
  --lightBg: #0f0f0f;
  --textNormal: #e0e0e0;
  --textTitle: #fff;
  --textLink: #ff6363;
  --hr: hsla(0, 0%, 100%, 0.2);
}

a.gatsby-resp-image-link {
  color: var(--bg);
  transition: ease 200ms all;
}
a.gatsby-resp-image-link:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0px 6px 13px 2px rgba(0, 0, 0, 0.25);
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  color: var(--textTitle);
}

.footnotes {
  word-break: break-all;
}




/* This is to keep the footer down */
html,
body {
    width: 100%;
    height: 10%;
}

#root {
    min-height: 10%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#content,
main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}
